version: "3.9"

services:

  postgres:
    image: postgres:16
    container_name: postgres-produtos
    environment:
      POSTGRES_DB: produtosdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: produtos-api
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/produtosdb
    depends_on:
      - postgres

volumes:
  postgres_data: